@model Web_BanSach_ConnnectAPI.Models.Accounts
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết tài khoản</h2>

<div>
    <h4>Tài khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Tên đầy đủ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            Admin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

        <dt>
            Hình đại diện
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/img/user" + Model.Avatar)"
        </dd>

        <dt>
            Tình trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về trang trước", "Index")
</p>

